header{
    padding: 1em;
    color: white;
    background-color: teal;
    text-align: left;
}


div.head{
    text-align:left;
    color:black;
    font-size:40px;
}

footer {
    padding: 1em;
    color: white;
    background-color: teal;
    position: bottom;
    text-align: left;
}
div.menu-wrapper { 
    float: right; 
    }
ul.menu li {
    color: black;
     display:inline-block;
     *display:inline;
     }
ul.menu li a {
     display:block;
      padding: 6px 12px; 
      }
      body{
    margin:0;
}