header{
    padding: 1em;
    color: white;
    background-color: teal;
    text-align: left;
}
div.body{
    text-align :left;
    color:black;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
    text-align: center;
  opacity: 1;
  right: 0;
}

div.head{
    text-align:left;
    color:black;
    font-size:40px;
}

footer {
    padding: 1em;
    color: white;
    background-color: teal;
    position: bottom;
    text-align: left;
}
div.menu-wrapper { 
    float: right; 
    }
ul.menu li {
    color: black;
     display:inline-block;
     *display:inline;
     }
ul.menu li a {
     display:block;
      padding: 6px 12px; 
      }
      body{
    margin:0;
}