 div.bg{
     width:75px;
     height:23px;
     border:1px solid #000; 
     background-color: black;
     color:white;
 }
div.sk{
     width:43px;
     height:23px;
     border:1px solid #000; 
     background-color: black;
     color:white;
 }
  div.cn{
     width:55px;
     height:23px;
     border:1px solid #000; 
     background-color: black;
     color:white;
 }
  div.we{
     width:82px;
     height:38px;
     border:1px solid #000; 
     background-color: black;
     color:white;
 }